<!DOCTYPE html>
<html>

<head>
  <title>CADASTRAR PRODUTOS</title>
  <meta charset="utf-8">

  <script src="./scripts/jquery-3.6.0.js"></script>
  <script src="./scripts/comunicaapi.js"></script>
  <link href="estilo.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>

  <div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">UnimedGM</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav" id="sidenav01">
              <li>
                <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01"
                  class="collapsed">

                  <div align="left" style="margin-left:50px"><img src="img/unimed_lavras_logo.png" width="100" alt="">
                  </div>



                </a>
              </li>
              <li style="background-color:#3104B4">


                <a href="contratante.html" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01"
                  class="collapsed" style="color:#fff">
                  <span class="glyphicon glyphicon-home" style="margin-right:6px"></span> Principal
                  <span class="caret pull-right"></span>
                </a>

                <div class="collapse" id="toggleDemo" style="height: 0px;">
                </div>
              </li>

              <li><a href="beneficiarios.html"><span class="glyphicon glyphicon-user" style="margin-right:6px"></span>
                  Beneficiários</a></li>
              <li><a href="adm_beneficios.html"><span class="glyphicon glyphicon-list-alt"
                    style="margin-right:6px"></span> Administradora de Benefícios</a></li>

              <!--<li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Extrato de Contas</a></li> -->
              <li><a href="extrato.html"><span class="glyphicon glyphicon-list-alt" style="margin-right:6px"></span>
                  Relatório de Utilização</a></li>
              <li><a href="extrato_mensalidade.html"><span class="glyphicon glyphicon-list-alt"></span>
                  Relatório de Mensalidades</a></li>
              <li><a href="notafiscal.html"><span class="glyphicon glyphicon-file" style="margin-right:6px"></span>
                  Emissão de Notas Fiscais</a></li>

              <li><a href="boletounicred.html"><span class="glyphicon glyphicon-file" style="margin-right:6px"></span>
                  Emissão de Boleto Unicred</a></li>

              <!--
				<li>
				  <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
				  <span class="glyphicon glyphicon-file" style="margin-right:6px"></span> Geração de Boletos<span class="caret pull-right"></span>
				  </a>
				  <div class="collapse" id="toggleDemo2" style="height: 0px;">
					<ul class="nav nav-list">
					  <li><a href="#">Postar Arquivo</a></li>
					  <li><a href="#">Gerenciar Arquivos Postados</a></li>
					</ul>
				  </div>
				</li>
				-->


              <li><a href="/"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>




    <div class="col-sm-8 col-md-10 affix-content">
      <div class="container">
        <br>
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#">Teste</a>
          </nav>
          <div class="row justify-content-center">
            <div class="col-md-12">
              <h3>
                <center>CADASTRAR PRODUTO</center>
              </h3>

              <form name="formulario" autocomplete="off">

                <div class="form-group">
                  <label for="codigoInput">Codigo</label>
                  <input type="number" class="form-control" id="codigoInput" placeholder="Digite o codigo">
                </div>

                <div class="form-group">
                  <label for="nomeInput">Descrição</label>
                  <input type="text" class="form-control" id="nomeInput" placeholder="Digite a descrição">
                </div>

                <div class="form-group">
                  <label for="classeInput">Classe</label>
                  <input type="text" class="form-control" id="classeInput" placeholder="Digite a Classe">
                </div>




                <button type="button" class="btn btn-primary" onclick="cadastrar()">Enviar</button>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</body>

</html>