<!DOCTYPE html>
<html>

<head>
  <title>LISTAR PRODUTOS</title>
  <meta charset="utf-8">

  <script src="./scripts/jquery-3.6.0.js"></script>
  <script src="./scripts/comunicaapi.js"></script>
  <link href="estilo.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>

  <div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">UnimedGM</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav" id="sidenav01">
              <!--<li>
                <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01"
                  class="collapsed">

                  <div alingn="left" style="margin-left:50px"><img src="Views\img\logo.PNG" width="100" alt="">
                  </div>



                </a>
              </li>-->
              <li style="background-color:#04b439">


                <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed"
                  style="color:#fff">
                  <span class="glyphicon glyphicon-home" style="margin-right:6px"></span> Estoque System Enterprises

                </a>

                <div class="collapse" id="toggleDemo" style="height: 0px;">
                </div>
              </li>

              <li><a href="Cadastrar.html"><span class="glyphicon glyphicon-inbox" style="margin-right:6px"></span>
                  Cadastro de Produtos</a></li>
              <li><a href="listaProduto.html"><span class="glyphicon glyphicon-list-alt"
                    style="margin-right:6px"></span> Lista de Produtos </a></li>

              <!--<li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Extrato de Contas</a></li> -->
              <li><a href="EntradaProduto.html"><span class="glyphicon glyphicon-inbox" style="margin-right:6px"></span>
                  Entrada de Produto</a></li>
              <li><a href="Estoque.html"><span class="glyphicon glyphicon-list-alt"></span>
                  Saldo de Estoque</a></li>
              <li><a href="SaidaProduto .html"><span class="glyphicon glyphicon-inbox" style="margin-right:6px"></span>
                  Saida de Produto</a></li>
              <li><a href="CadastroFornecedor.html"><span class="glyphicon glyphicon-user"
                    style="margin-right:6px"></span>
                  Cadastro de Fornecedor</a></li>

              <li><a href="CadastrarClasse.html"><span class="glyphicon glyphicon-file" style="margin-right:6px"></span>
                Cadastrar Classes de Produtos</a></li>

              <!--
				<li>
				  <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">
				  <span class="glyphicon glyphicon-file" style="margin-right:6px"></span> Geração de Boletos<span class="caret pull-right"></span>
				  </a>
				  <div class="collapse" id="toggleDemo2" style="height: 0px;">
					<ul class="nav nav-list">
					  <li><a href="#">Postar Arquivo</a></li>
					  <li><a href="#">Gerenciar Arquivos Postados</a></li>
					</ul>
				  </div>
				</li>
				-->


              <li><a href="/"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>




    <div class="col-sm-8 col-md-10 affix-content">
      <div class="container">
        <br>
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#">Teste</a>
          </nav>
          <div class="col-md-6">
            <h3>
              <center>Produtos</center>
            </h3>
            <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th>CODIGO</th>
                  <th>QUANTIDADE</th>
                  <th>VALOR</th>
                </tr>
              </thead>
              <tbody id="gridEstoque">

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>


</body>

</html>