<!DOCTYPE html>
<html>

<head>
    <title>CADASTRAR PRODUTOS</title>
    <meta charset="utf-8">

    <script src="./scripts/jquery-3.6.0.js"></script>
    <script src="./scripts/comunicaapi.js"></script>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dar">
        <a class="navbar-brand" href="#">ESTOQUE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./Cadastrar.html">CADASTRAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./Compra.html">COMPRAS/VENDAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./Consultar.html">CONSULTAR</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>



    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3>
                    <center>CADASTRAR PRODUTO</center>
                </h3>

                <form name="formulario" autocomplete="off">

                    <div class="form-group">
                        <label for="codigoInput">Codigo</label>
                        <input type="number" class="form-control" id="codigoInput" placeholder="Digite o codigo">
                    </div>

                    <div class="form-group">
                        <label for="nomeInput">Descrição</label>
                        <input type="text" class="form-control" id="nomeInput" placeholder="Digite a descrição">
                    </div>

                    <div class="form-group">
                        <label for="classeInput">Classe</label>
                        <input type="text" class="form-control" id="classeInput" placeholder="Digite a Classe">
                    </div>




                    <button type="button" class="btn btn-primary" onclick="cadastrar()">Enviar</button>

                </form>
            </div>


        </div>
    </div>
</body>

</html>